@using Microsoft.EntityFrameworkCore.Internal
@using System.Linq
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common
@model X.PagedList.PagedList<Fruits.App.ViewModels.FruitViewModel>

@{
    ViewData["Title"] = "Fruits - Fruit List";
}

    <div>
        <vc:summary></vc:summary>
        <form>
            <div class="container" style="margin-top: 20px">
                <div class="row">
                    <div class="col-4">
                        <input class="form-control" type="text" placeholder="Type the fruit name to search in database" name="fruit" />
                    </div>
                    <div class="col-2">
                        <button class="ml-1 btn btn-secondary" asp-controller="Fruits" asp-action="Index" type="submit" value="Pesquisar Fruit"><span class="fa fa-search"></span></button>
                        <button asp-action="Create" class="btn btn-primary"><span class="fa fa-plus"></span></button>
                    </div>
                </div>
            </div>
        </form>

        <div class="container mt-5">
            <table class="table table-bordred table-striped">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Description)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.Id">
                            <td>
                                @if (item.Image != null)
                                {
                                    <img src="~/images/@item.Image" alt="@item.Image" style="width: 40px; height: 30px" />
                                }
                                else
                                {
                                    <img src="~/images/no-image.png" alt="~/images/no-image.png" style="width: 30px; height: 30px " />
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil-alt"></span></a>
                                <a href="#" class="btn btn-danger" onclick="ConfirmDelete('@item.Id')"><i class="fa fa-trash"></i> </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <div>
               <div class="justify-content-center">
                    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }), new PagedListRenderOptions { FunctionToTransformEachPageLink = (liTag, aTag) => { aTag.Attributes.Add("class", "page-link".ToString()); return aTag; }, LiElementClasses = new[] { "page-item" }, UlElementClasses = new[] { "pagination  justify-content-left" } })
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this fruit?</p>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" data-dismiss="modal">No</a>
                <a href="#" class="btn btn-success" onclick="ExcluirFruit()">Yes</a>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="hiddenFruitId" />

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var ConfirmDelete = function (fruitId) {
            $("#hiddenFruitId").val(fruitId);
            $("#myModal").modal('show');

        }

        var ExcluirFruit = function () {
            var fId = $("#hiddenFruitId").val();
            $.ajax({
                type: "POST",
                url: "/remove-fruit",
                data: { Id: fId },
                dataType: "html",
                success: function (result) {
                    $("#myModal").modal("hide");
                    $("#row_" + fId).remove();

                }
            })
        }
    </script>
}